<!-- templates/fragments/sidebar.html -->
<div class="sidebar" th:fragment="sidebar">
    <div class="sidebar-inner">
        <div class="sidebar-section">
            <div class="sidebar-section-title">자금관리</div>
            <ul class="sidebar-menu">
                <li class="sidebar-item active"><a href="#">- 입금</a></li>
                <li class="sidebar-item"><a href="#">- 출금</a></li>
                <li class="sidebar-item"><a href="#">- 자산</a></li>
            </ul>
        </div>

        <div class="sidebar-section">
            <div class="sidebar-section-title">분배관리</div>
            <ul class="sidebar-menu">
                <li class="sidebar-item"><a href="#">- 분배하기</a></li>
            </ul>
        </div>
    </div>
</div>
